aside > ul > li > section {
    padding-left: 0 !important;
}

textarea {
  box-sizing: border-box;
}

#question,
#nlp_question {
  resize: none !important;
}

#nlp_question {
  background-color: black;
  color: white;
  cursor: default;
}

.bda-nlp-title {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 12px;
}

.bda-description {
  position: absolute;
  right: 10px;
  bottom: 15px;
  font-size: 12px;
}

.bda-white {
  color: white;
}

.bda-tag {
  color: white;
  background: gray;
  padding: 0 4px;
  margin-left: 3px;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
}

.bda-tag i {
  margin: 0 4px 0 2px;
}
