*/.ipynb_*
german.model

# virtualenv
venv/

# python
__pycache__/

# files
*.log
*.txt
*.csv

# requirements.txt
!requirements.txt
!de_article_ids_ionesoft.csv

# intellij
.idea/*
*.iml

# coverage
.coverage
