*/.ipynb_*
german.model

# virtualenv
venv/

# python
__pycache__/

# files
*.log
*.txt
*.csv

# bda_core files
!custom_ch_grammar.txt
!custom_ch_stopwords.txt
!custom_en_stopwords.txt
!custom_ch_vocabular.txt
!custom_en_vocabular.txt

# requirements.txt
!requirements.txt
!de_article_ids_ionesoft.csv

# intellij
.idea/*
*.iml

# coverage
.coverage
*/.coverage*

# release
.eggs/
bda_chatbot.egg-info/
build/
dist/

# temp files
app/test_tmp/

# intellij
*/.idea/*

# models
*.joblib
*.w2v
*.pickle
