Click==7.0
coverage==4.5.3
coveralls==1.7.0
nltk==3.4
numpy==1.16.2
pandas==0.24.2
pytest==4.4.0
pytest-bdd==3.1.0
pytest-cov==2.6.1
untangle==1.1.1
sklearn==0.0
gensim==3.7.1
pyemd==0.5.1
joblib==0.13.2
