asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
boto3==1.9.98
botocore==1.12.98
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.4.1
coloredlogs==10.0
constantly==15.1.0
cryptography==2.5
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
docutils==0.14
en-core-web-md==2.0.0
Flask==1.0.2
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
humanfriendly==4.17
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
kiwisolver==1.0.1
klein==17.10.0
MarkupSafe==1.1.0
matplotlib==2.2.3
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
numpy==1.16.1
packaging==18.0
plac==0.9.6
preshed==2.0.1
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyreadline==2.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
pytz==2018.9
rasa-nlu==0.14.3
regex==2018.1.10
requests==2.21.0
ruamel.yaml==0.15.88
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==1.2.1
simplejson==3.16.0
six==1.12.0
sklearn-crfsuite==0.3.6
spacy==2.0.18
tabulate==0.8.3
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
Twisted==18.9.0
typing==3.6.6
ujson==1.35
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
zope.interface==4.6.0
